{% spaceless %}
<!doctype html>
<!--[if lt IE 7 ]><html lang="nl" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]>   <html lang="nl" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]>   <html lang="nl" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]>   <html lang="nl" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="nl" class="no-js"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}Top Hvyers{% endblock %} - Tophyvers.nl</title>
	<meta name="description" content="{% block description %}Volg je Hyves statistieken met TopHyvers.nl!{% endblock %}">
	<meta name="author" content="Bouke van der Bijl">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/libs/modernizr-1.7.min.js"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<div id="container">
		<div id="header" class="clearfix">
			<h1><a href="/">TopHyvers.nl</a></h1>
            <iframe
			 src="http://www.hyves.nl/respect/button?url=http%3A%2F%2Ftophyvers.nl&amp;via=TopHyvers.nl&amp;related=TopHyvers.nl"
			 class="hyves"
			 allowTransparency="true"
			 frameborder="0"
			 scrolling="no">
			</iframe>
		<!-- END #header -->
		</div>
		<ul id="nav">
		    <li><a href="/">Home</a></li>
		    <li><a href="/top/vrienden">Top</a></li>
		    <li class="left"><a href="/stijgend/vrienden">Stijgers</a></li>
		    <li class="right"><a href="/dalend/vrienden">Dalers</a></li>
		    <li><a href="/zoeken">Zoeken</a></li>
		</ul>
		<div id="main" class="clearfix">
			<div id="content" class="{% block content_class %}{% endblock %}">
            {% block content %}{% endblock %}
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7364836140198959";
            /* HS Onderbanner */
            google_ad_slot = "5237071079";
            google_ad_width = 468;
            google_ad_height = 60;
            //-->
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
			<!-- END #content -->
			</div>
			<div id="sidebar">
				<script type="text/javascript">
                google_ad_client = "ca-pub-7364836140198959";
                google_ad_slot = "4893725948";
                google_ad_width = 250;
                google_ad_height = 250;
                </script>
                <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
                <div class="block signup">
					<h3>Meld je aan</h3>
					<p>Staat jouw profiel nog niet op tophyvers.nl? Vul hieronder je gebruikersnaam in en druk op aanmelden!</p>
                    <form action="/hyver/nieuw" method="post">
                    	<input id="newUsername" placeholder="gebruikersnaam" type="text" name="username" {% if username %}value="{{ username|e }}"{% endif %}>
                    	<input type="submit" value="Aanmelden">
                    </form>
                    <p><small>Je gebruikersnaam is het gedeelte &lt;gebruikersnaam&gt;.hyves.nl</small></p>
				</div>
				<div class="block">
                    <h3>Zoek naar een Hyver</h3>
					<form action="/zoeken" method="get">
					    <input type="text" name="q" {% if query %}value="{{ query|e }}"{% endif %}>
					    <input type="submit" value="Zoek">
					</form>
				</div>

			<!-- END #sidebar -->
			</div>
		<!-- END #main -->
		</div>
		<div id="footer">
			<p>TopHyvers.nl is <strong>niet</strong> een offici&euml;le Hyves site | Deze site is in elkaar geflanst door <a href="http://boukevanderbijl.nl">Bouke van der Bijl</a></p>
		<!-- END #footer -->
		</div>
	<!-- END #container -->
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="/js/script.js"></script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
	{% block endbody %}{% endblock %}
</body>
</html>
{% endspaceless %}